body {
    font-family: calibri;
    height: 100%;
    background-color: #2d2d30;
    color: white;
}

#header
{
    max-width: 1200px;
    margin: auto;
}

#mainHeaderDiv {
    text-align: center;
    top:25px;
    position: sticky;
}

ul
{
    padding: 0px;
}
#headerMenu li {
    display: inline;
    padding-right: 15px;
}

#headerMenu li a {
    text-decoration: none;
    color: white;
}

#headerMenu li :hover {
    font-weight: bold;
}

.mainContent {
    border-style:solid;
    border-width:1px;
    max-width: 1200px;
    height: 675px;
    margin: auto;
    background-image: url(Stage2.png);
    background-size: cover;
    position: relative;
}

.mainContentNeeds {
    border-style: solid;
    border-width: 1px;
    max-width: 1200px;
    height: 675px;
    margin: auto;
    background-image: url(Stage.png);
    background-size: cover;
}

.titleNeeds 
{
    margin-top: 300px;
    margin-left: 100px;
}

.needs {
    margin-top: 0px;
    margin-left: 100px;
    text-align: justify;
    padding: 30px;
    float: left;
    background: rgba(0, 0, 0, 0.6);
    width: 200px;
    height: 100px;
}

.insideMainContent 
{
    text-align: justify;
    padding: 60px;
    background: rgba(0, 0, 0, 0.6);
    width: 210px;
    height: 515px;
    float: left;
}

.HOchO {
    position: absolute;
    top: 57px;
    left: 420px;
    transition: left 10s;
}

/*.HOchO:hover {
    left: 500px;
}*/

#footer {
    bottom: 25px;
    max-width: 1200px;
    margin: auto;
}