@import url("main.css");

.dynamicText, .dynamicText li a {
    color: white;
}

.dynamicBg {
    background-color: #2d2d30;
}

.dynamicTransBg {
    background-color: rgba(0, 0, 0, 0.6);
}

input {
    background-color: whitesmoke;
    color: black;
}

input:hover {
    box-shadow: 0 0 2px 2px white;
}

.selected {
    text-shadow: -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray;
}