@import url("main.css");

.dynamicText, .dynamicText li a {
    color: white;
}

.dynamicBg {
    background-color: #2d2d30;
}

.dynamicTransBg {
    background-color: rgba(0, 0, 0, 0.6);
}

#themeswitcher {
    background-color: whitesmoke;
    color: black;
}

#themeswitcher:hover {
    box-shadow: 0 0 2px 2px white;
}

.selected {
    text-shadow: -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray;
}

.tipBox a {
    text-decoration: underline;
    color: white;
    text-decoration-color: white;
}

.tipBox a:visited {
    color: white;
}

.tipBox a:hover {
    color: blue;
    text-decoration-color: blue;
}

.underLineTableCell {
    border-bottom: solid 1px white;
}