@import url("main.css");

.dynamicText, .dynamicText li a {
    color: black;
}

.dynamicBg {
    background-color: whitesmoke;
}

.dynamicTransBg {
    background-color: rgba(255, 255, 255, 0.7);
}

input {
    background-color: #2d2d30;
    color: white;
}
