@import url("main.css");

.dynamicText, .dynamicText li a {
    color: black;
}

.dynamicBg {
    background-color: rgb(235, 235, 235);
}

.dynamicTransBg {
    background-color: rgba(255, 255, 255, 0.7);
}

input {
    background-color: #2d2d30;
    color: white;
}

input:hover {
    box-shadow: 0 0 2px 2px black;
}

.selected {
    text-shadow: -1px 0 darkgray, 0 1px darkgray, 1px 0 darkgray, 0 -1px darkgray;
}

a {
    text-decoration: underline;
    color: black;
    text-decoration-color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
}