/*Importing the main.css so that all the settings from that follow. 
    That way we don't have to call two .css files in the .html files.
*/
@import url("main.css");

.dynamicText, .dynamicText li a {
    color: black;
}

.dynamicBg {
    background-color: rgb(235, 235, 235);
}

.dynamicTransBg {
    background-color: rgba(255, 255, 255, 0.7);
}

#themeswitcher {
    background-color: #2d2d30;
    color: white;
}

#themeswitcher:hover {
    box-shadow: 0 0 2px 2px black;
}

.selected {
    text-shadow: -1px 0 darkgray, 0 1px darkgray, 1px 0 darkgray, 0 -1px darkgray;
}

.tipBox a {
    text-decoration: underline;
    color: black;
    text-decoration-color: black;
}

.tipbox a:visited {
    color: black;
}

.tipBox a:hover {
    color: blue;
    text-decoration-color: blue;
}