body {
    font-family: calibri;
    height: 100%;
}

div {
    border-radius: 15px;
}

.bubble {
    font-size: 19px;
    padding: 30px;
    padding-top: 25px;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: auto;
    text-align: left;
    transition: all 0.6s;
}

    .bubble:hover {
        transform: scale(1.2);
    }

/*Allt om Headern*/
#header
{
    max-width: 1200px;
    margin: auto;
}

#mainHeaderDiv {
    text-align: center;
    top:25px;
}

/*The width makes it shrink proportionally when the size of the window shrinks
The max-width makes sure that the image does not become bigger than it's original
size. If it does it becomes blurry*/
#headerImg{
    width: 100%;
    max-width: 878px;
}

ul
{
    padding: 0px;
}

.headerMenu{

    text-align: center;
}

#headerMenu li {
    display: inline;
    padding-right: 15px;
}

#headerMenu li a {
    text-decoration: none;
    font-size: larger;
}

/*Allt om huvudinehållet*/
.mainContent {
    border-style: solid;
    border-width: 1px;
    max-width: 1200px;
    height: 675px;
    margin: auto;
    background-size: cover;

    /*  This needed to be relative because if not the image inside that
        needs to be absolute, will not align the way I want.*/
    position: relative;
    background-repeat: no-repeat;

    /*  On some pages we use divs as inline-blocks and they align
        in the middle with this setting.*/
    text-align:center;
}

/*Allt om startsidan*/
.insideMainContent {
    padding: 60px;
    width: 210px;
    height: 555px;
    float: left;
    font-size: 18px;
    text-align: left;

    /*  I wanted only the top and bottom left corners to round along
        with the edge of the containing div. But not the other corners. 
        All divs are set to have rounded corners and therefor I only
        Had to set two corners to 0.*/
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.skrattBild {
    position: absolute;
    top: 57px;
    left: 420px;
    height: 618px;
    width: 700px;
}

    /*On hover start the animation named motion. And continue as long as they hover*/
    .skrattBild:hover {
        animation-name: motion;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

/*Here are the rules for the animation above*/
@keyframes motion {
    0% {
        left: 420px;
    }

    50% {
        left: 470px;
        filter: hue-rotate(360deg);
    }

    100% {
        left: 420px;
    }
}

/*Allt om sidan: "Kom igång"*/

/*Vi vill att dessa bara ska gälla divarna som är på "Kom ihåg"-sidan
    Med andra ord alla divar som kommer efter .titleNeeds ska ha denna css kod.
*/
.titleNeeds, .titleNeeds~.bubble {
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}


/*Allt om "Sätt upp föreställning"*/
#projectHeader, .projectContent {
    text-align: center;
    width: 800px;
    margin: auto;
    padding: 10px;
    /*display: inline-block;*/
    margin-top: 80px;
    vertical-align: central;
}


.projectContent table {
    margin: 5% auto;
    text-align: left;
    border-collapse: separate;
    border-spacing: 25px 0px;
    font-size: 20px;
    vertical-align: central;
}

.projectTableRow>td {
    padding-top: 3px;
}

/*Allt om checkBoxarna*/
.projectChkBox {
    transform: scale(1.5);
}

/* Header meny */
.selected {
    font-weight: bolder;
}

/* Footer knapp */
#themeswitcher {
    border-radius: 14px;
    padding: 9px 20px;
    margin-top: 10px;
}

    #themeswitcher:hover {
        transform: scale(1.1);
    }

/*Allt om "Övriga tips"*/

#tip1 {
    position: absolute;
    margin-top: 50px;
    margin-left: -550px;
}

#tip2 {
    position: absolute;
    margin-top: 250px;
    margin-left: -150px;
}

#tip3 {
    position: absolute;
    margin-top: 430px;
    margin-left: 250px;
}

#tip4 {
    position: absolute;
    margin-left: -500px;
    margin-top: 400px;
}

/*Allt om footern*/
#footer {
    bottom: 25px;
    max-width: 1200px;
    margin: auto;
    vertical-align: text-bottom;
}

.footer-div {
    margin-top: 0px;
    display: inline-block;
    vertical-align: text-top;
}

p{
    margin: 9px;
}

p.Timer{
    margin-left: 15px;
}

/*Here we make the site responsive. We decided to change the behavior
of the site at 1120px because that's the point at which the 
original design starts to break. */

@media only screen and (max-width: 1120px){
    
    /*Allt om huvudinehållet*/
    .mainContent {
        height: auto;
        min-height: 450px;
        margin: auto;
        padding-bottom: 50px;
        padding-top: 50px;
        position: static;
        background-repeat: no-repeat;
        text-align: center;
    }

    /*Allt om headern*/
    #header{
        text-align: center;
    }
    #headerMenu li{
        display: inline-block;
        /* padding-bottom: 10px; */
    }

    /* projekt sidan för responsivitet */
    #projectHeader, .projectContent {
        height: auto;
        width: 90%;
        margin-top: 5px;
    }

    /*Allt om "Kom igång"*/
    .titleNeeds~.bubble, #tip1, #tip2, #tip3, #tip4 {
        margin: 20px 50px;
        position: unset;
    }

    .titleNeeds{
        margin: 5px 40px;
        text-align: center;
    }

    /*Allt om startsidan*/
    .insideMainContent {
        width: auto;
        height: auto;
        float: unset;
        margin: 0px;

        /*Försökte få diven att vara i mitten, men det jag brukar
          använda fungerade inte. Detta blev den näst bästa lösningen.*/
        margin-top: 8%;

        padding: 20px 50px;
        padding-top: 10px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

    .skrattBild {
        display: none;
    }

    #footer{
        text-align: center;
    }

    p{
        margin: 5px;
    }

    #themeswitcher {
        margin: 10px !important;
    }

    .footer-div{
        display: block;
        margin: auto;
        float: unset !important;
    }
   
}

/*  Detta hanterar när  webbläsarens bredd är nästan minimum
    för att hantera hur alla element av klassen bubble beter sig
    för att undvika att det skapar en overflow-x */
@media screen and (max-width: 400px) {

    .titleNeeds~.bubble, #tip1, #tip2, #tip3, #tip4 {
        margin: 20px 1px;
        position: unset;
    }

    .bubble:hover {
        transform: scale(1.05);
    }

    .insideMainContent {
        margin-top: 0% !important;
    }
}